* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #AAFFA9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11FFBD, #AAFFA9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    float: left;
    font-family: 'Boogaloo', cursive;
    font-size: 48px;
    margin: 0;
}

input {
    font-size: 24px;
    font-family: 'Boogaloo', cursive;
    width: 100%;
}

li {
    list-style: none;
    font-family: 'Boogaloo', cursive;
    font-size: 24px;
}

#date {
    text-align: center;
    font-family: 'Boogaloo', cursive;
    font-size: 3rem;
}

.list {
    margin-top: 15%;
    margin-bottom: 85%;
}

.container {
    width: 300px;
    margin: auto;
    display: flex;
    padding: 0.5rem 0.5rem;
}

.add-Btn {
    font-size: 36px;
}

.delete-Btn {
    color: #e84118;
}