*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #aaffa9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #11ffbd,
    #aaffa9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #11ffbd,
    #aaffa9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-family: "Boogaloo", cursive;
  font-size: 48px;
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 200;
}

form {
  display: flex;
  width: 100%;
  padding-bottom: 0.5rem;
}

input {
  font-size: 18px;
  font-family: "Boogaloo", cursive;
  width: 100%;
  padding-left: 5px;
}

span {
  float: right;
  padding-right: 0.5rem;
}

#date {
  text-align: center;
  font-family: "Boogaloo", cursive;
  font-size: 3rem;
}

#newTodo {
  list-style: none;
  font-family: "Boogaloo", cursive;
  font-size: 24px;
  padding-bottom: 0.5rem;
}

.list {
  margin-top: 15%;
}

.container {
  width: 300px;
  margin: auto;
  display: block;
  padding: 0.5rem 0.5rem;
}

.add-Btn {
  font-size: 24px;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
}

.fa-trash {
  color: #e84118;
  font-size: 20px;
}

.fa-check {
  color: #388e3c;
  font-size: 20px;
}

.checked {
  font-size: 24px;
  list-style: none;
  font-family: "Boogaloo", cursive;
  text-decoration: line-through;
}
